[submodule "aegra-agent"]
	path = aegra-agent
	url = git@github.com:schoolofai/aegra.git
[submodule "langgraph-agent"]
	path = langgraph-agent
	url = git@github.com:schoolofai/langgraph-agent.git
[submodule "langgraph-generic-chat"]
	path = langgraph-generic-chat
	url = git@github.com:schoolofai/langgraph-generic-chat.git
